@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap');

:root {
	--dark-green: #2b3329;
	--lighter-green: #678a5d;
	--slightly-grey: #b1b2b1;
	--text-color: #606060;
}

* {
	box-sizing: border-box;
}



.shadow-depth {
	-webkit-box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83); 
	box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83);
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	overflow-x: hidden;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	width: 90%;
}

.box {
	transform: translateX(400%);
	transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
	transform: translateX(-400%);
}

.box.show {
	transform: translateX(0);
}

.blured-bcg {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000000;
}


/*HEADER STYLES: */

header {
	background-color: var(--dark-green);
	position: relative; 
}

nav {
	position: fixed;
	background-color: var(--dark-green);
	width: 100%;
	z-index: 10;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: var(--slightly-grey);
	font-size: 2rem;
	letter-spacing: 0.3rem;
}

/*NAV BAR BURGER:*/

.nav-burger {
	margin-top: 2rem;
	cursor: pointer;
}

.nav-1, .nav-2, .nav-3 {
	height: 4px;
	width: 35px;
	background-color: var(--slightly-grey);
	margin-bottom: 5px;
	transition: 1s;
}


.nav-burger.opened .nav-1 {
	transform: rotate(45deg);
	margin-bottom: -3px;
}

.nav-burger.opened {
	padding-top: 12px;
}

.nav-burger.opened .nav-2 {
	transform: rotate(-45deg);
	
}

.nav-burger.opened .nav-3 {
	display: none;
}


/*Navmenu:*/

.nav-menu {
	height: 100vh;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	z-index: 1;
	transform: translateX(-400%);
	transition: 1s;
}

.display {
	transform: translateX(0);
}


.menu-wrap {
	padding: 100px 10px 20px 20px;
}

.menu-btn {
	position: absolute;
	right: 10%;
}

ul > * {
	margin-bottom: 30px;
	text-transform: uppercase;
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: var(--slightly-grey);
	letter-spacing: 2px;
}

li a:hover {
	text-decoration: underline;
}

/*Header bottom: */

.bcg-img {
	padding-top: 50px;
}
.bcg-img img {
	width: 100%;
	position: relative;
	max-width: 950px;
	z-index: 1;
	margin-bottom: 20px;
}

.top-text {
	position: absolute;
	z-index: 2;
	top: 30%;
	left: 50%;
	max-width: 500px;
	background-color: #fff;
	border-bottom: 1px solid #d3d3d3;
}

h1 {
	color: var(--lighter-green);
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
}

.content {
	padding: 60px 40px 90px 40px;
}


.content-text{
	color: var(--text-color);
	line-height: 1.5;
	font-size: 1.5rem;
}

.content .text-note {
	font-size: 1rem;
	font-style: italic;
}

.text-note a{
	text-decoration: underline;
	color: var(--text-color);
}

.btn {
	background-color: #b3d1ab;
	border: none;
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.1rem;
	cursor: pointer;
	transition: 0.7s;
}

.btn:hover {
	background-color: #e0e5eb;
}

.heading-layer {
	position: absolute;
	height: 200px;
	background-color: var(--lighter-green);
	width: 100%;
	top: calc(50% - 50px);
}



/*MAIN CONTENT:*/

.main-content {
	display: flex;
	justify-content: space-between;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.main-content-col {
	max-width: 600px;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
}

.green-bubble {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #cee9cd;
	margin: 30px 94px 150px auto;
	padding-bottom: 50px;
}


/*ABOUT:*/

.about {
	position: relative;
	background-color: var(--lighter-green);
	padding-bottom: 100px;
}

.about .bcg-img {
	max-width: 500px;
	margin-left: 220px;
	position: relative;
	padding-top: 100px;
}

h2 {
	font-size: 2.5rem;
	color: #204f5b;
}

.white-bubble {
	width: 200px;
	height: 200px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 35px;
	left: -91px;
	z-index: 1;
}

.green-block{
	width: 684px;
	height: 334px;
	background-image: linear-gradient(to right, var(--lighter-green), var(--dark-green));
	position: absolute;
	bottom: -8px;
	left: 289px;
	z-index: 0;
}

/*PROCESS STEPS: */

.process-steps {
	padding-top: 60px;
	padding-bottom: 100px;
	text-align: center;
}

.steps {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.steps-summary {
	max-width: 700px;
	margin: 0 auto;
}

h3 {
	color: #5d925c;
	font-size: 2.5rem;
}

h4 {
	color: #719f70;
	font-size: 1.5rem;
}

.process-steps p {
	color: var(--text-color);
}

.fa-mobile-alt, .fa-user-alt, .fa-star {
	color: #719f70;
	font-size: 2rem;
}

/*STAGES SECTION:*/

.stages-section {
	background-color: #466446;
	padding-top: 30px;
	padding-bottom: 60px;
	position: relative;
	min-height: 100vh;
}

.stages-wrap {
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.stages {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-grow: 1;
	padding-top: 60px;
}

.stage {
	max-width: 300px;
	background-color: #fff;
	padding: 20px 15px 60px 15px;
	margin-bottom: 30px;
	text-align: center;
	z-index: 10;
}

.stage h5 {
	color: #acd8ab;
	font-size: 3rem;
	margin: auto;
}

.stage p {
	line-height: 1.5;
	color: var(--text-color);
	margin-bottom: 60px;
}

.stage a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 900;
	transition: 0.7s;
}

.stage a:hover {
	color: var(--dark-green);
	border-bottom: 1px solid var(--dark-green);
	padding-bottom: 3px;
}

.stages-img img {
	max-width: 800px;
	margin-top: 200px;
	margin-left: 50px;
	position: absolute;
	top: 5%;
	right: 10%;
	z-index: 1;
	-webkit-box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83); 
	box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83);
}

.shaped-img {
	margin-top: 10px;
	position: absolute;
	top: -15%;
	right: 0%;
}

.bubble {
	height: 700px;
	width: 700px;
	border-radius: 50%;
	position: absolute;
	background-color: #2b3329;
	top: 5%;
	right: 5%;
}

.stages-section h5 {
	color: #fff;
	font-weight: 100;
	margin-left: 10px;
}

.stages-section h5 a {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
}

/*CONTACTS:*/

.contacts {
	background-color: var(--dark-green);
	overflow: auto;
	min-height: 100vh;
	position: relative;
}

.contact-wrap{
	background-color: #fff;
	width: 55%;
	margin-top: 70px;
	padding: 15px 50px 50px 50px;
}

.contact-wrap h5 {
	color: var(--lighter-green);
	font-size: 2rem;
}

input, textarea {
	display: block;
	border: none;
	border-bottom: 2px solid #000;
	margin-bottom: 40px; 
	width: 400px;
}

textarea::-webkit-input-placeholder  {
	font-family: Roboto;
}

.submit {
	border: 2px solid #000;
	padding: 10px 50px;
	text-transform: uppercase;
	transition: 1s;
}

.submit:hover{
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

.text-wrap {
	min-width: 400px;
	padding: 40px 20px;
}

.card {
	background-color: var(--lighter-green);
	left: 782px;
}


.contact-row {
	display: flex;
}

.contact-row h5 {
	margin-top: auto;
	margin-left: 20px;
	text-transform: uppercase;
}

.row-paragraph, .contact-row h5, i {
	color: #fff;
	font-size: 1rem;
}

.row-paragraph {
	margin-top: -10px;
}

/*FOOTER:*/

footer {
	height: 250px;
	background-color: #333333;
	overflow: auto;
}

.footer-container {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 50px;
}

.footer-container p {
	color: #fff;
	min-width: 417px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 1.5;
}

.footer-link {
	font-size: 0.8rem;
	text-align: center;
	bottom: 0;
	margin-top: 90px;
	margin-left: 10px;
	min-width: 417px;
}

.footer-link a {
	color: #bfe3ed;
}

/*MEDIA QUERIES:*/

@media (max-width: 1280px) {
	.green-block {
		display: none;
	}
	.steps {
		display: block;
	}
}

@media (max-width: 1200px) {
	.bcg-img img {
		max-width: 750px;
	}

	.contact-row {
		justify-content: center;
	}

	.contact-wrap {
		margin: 0 auto;
	}

	.card {
		display: block;
		position: static;
		max-width: 1200px;
		margin-top: 10px;
		text-align: center;
	}
}

@media (max-width: 1370px) {
	.content-text{
		font-size: 1.3rem;
	}
	.green-bubble {
		display: none;
	}
}

@media (max-width: 1120px) {
	.main-content {
		display: block;
	}
	input, textarea {
		width: 300px;
	}
}

@media(max-width: 990px) {
	.nav-menu {
		width: 100%;
		height: 60%;
		background-color: rgb(0, 0, 0);
		text-align: center;
	}

	.top-text {
		position: static;
		max-width: unset;
	}

	.shadow-depth {
		-webkit-box-shadow: unset; 
		box-shadow: unset;
	}
	.heading-layer {
		height: 100px;
	}

	.bcg-img {
		display: flex;
		justify-content: center;
	}
	.bcg-img img {
		width: 80%;
		margin-bottom: 20px;
	}

	.main-content-col:last-of-type {
		margin-top: 10px;
		border-top: 1px solid #d3d3d3;
	}

	.bubble {
		display: none;
	}

	.stages-img img {
		display: none;
	}

	.stages-wrap {
		margin: 0 auto;
		width: 80%;
	}

	.stage {
		width: 100%;
		max-width: unset;
	}

	.contact-wrap {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.contact-wrap h5 {
		text-align: center;
	}

	.submit {
		margin: 0 auto;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact-button {
		text-align: center;
	}
}

@media (max-width: 800px) {
	.about .bcg-img {
		margin-left: 0px;
		max-width: unset;
	}
	.white-bubble {
		display: none;
	}
	.about img {
		margin: 0 auto;
		max-width: 200px;
	}

	.logo {
		font-size: 1.5rem;
	}

	input, textarea {
		width: 200px;
	}

}

@media (max-width: 500px) {
	.main-person img {
		margin-bottom: -50px;
		z-index: 1;
	}
}

@media (max-width: 380px ) {
	.heading-layer {
		display: none;
	}

	h2 {
		font-size: 1.8rem;
	}

	.main-content {
		padding-top: 2rem;
	}

	.text-wrap {
		min-width: unset;
	}

	.footer-container p, .footer-link {
		min-width: unset;
	}
}
