@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap');

:root {
	--dark-green: #2b3329;
	--lighter-green: #678a5d;
	--slightly-grey: #b1b2b1;
	--text-color: #606060;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	width: 90%;
}

/*HEADER STYLES: */

header {
	background-color: var(--dark-green);
/*	min-height: 100vh;*/
	position: relative;
}

nav {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: var(--slightly-grey);
	font-size: 2rem;
	letter-spacing: 0.3rem;
}

.fa-bars {
	color: var(--slightly-grey);
	font-size: 2rem;
	padding-top: 2rem;
	cursor: pointer;
}

.bcg-img {
	padding-top: 50px;
}
.bcg-img img {
	width: 100%;
	position: relative;
	max-width: 950px;
	-webkit-box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83); 
	box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83);
	z-index: 1;
	margin-bottom: 20px;
}

.top-text {
	position: absolute;
	z-index: 2;
	top: 30%;
	left: 50%;
	max-width: 500px;
	background-color: #fff;
	-webkit-box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83); 
	box-shadow: -2px 9px 15px 3px rgba(0,0,0,0.83);
	border-bottom: 1px solid #d3d3d3;
}

h1 {
	color: var(--lighter-green);
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
}

.content {
	padding: 60px 40px 90px 40px;
}


.content-text{
	color: var(--text-color);
	line-height: 1.5;
	font-size: 1.5rem;
}

.content .text-note {
	font-size: 1rem;
	font-style: italic;
}

.text-note a{
	text-decoration: underline;
	color: var(--text-color)
}

.btn {
	background-color: #b3d1ab;
	border: none;
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.1rem;
	cursor: pointer;
	transition: 0.7s;
}

.btn:hover {
	background-color: #e0e5eb;
}

.heading-layer {
	position: absolute;
	height: 200px;
	background-color: var(--lighter-green);
	width: 100%;
	top: calc(50% - 50px);
}



/*MAIN CONTENT:*/

.main-content {
	display: flex;
	justify-content: space-between;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.main-content-col {
	max-width: 600px;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
}

.green-bubble {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #cee9cd;
	margin: 30px 94px 150px auto;
	padding-bottom: 50px;
}


/*ABOUT:*/

.about {
	position: relative;
	background-color: var(--lighter-green);
	padding-bottom: 100px;
}

.about .bcg-img {
	max-width: 500px;
	margin-left: 220px;
	position: relative;
	padding-top: 100px;
}

h2 {
	font-size: 2.5rem;
	color: #204f5b;
}

.white-bubble {
	width: 200px;
	height: 200px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 35px;
	left: -91px;
	z-index: 1;
}

.green-block{
	width: 684px;
	height: 334px;
	/*background-color: red;*/
	background-image: linear-gradient(to right, var(--lighter-green), var(--dark-green));
	position: absolute;
	bottom: -8px;
	left: 289px;
	z-index: 0;
}

/*PROCESS STEPS: */

.process-steps {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.steps {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.steps-summary {
	max-width: 700px;
	margin: 0 auto;
}

h3 {
	color: #5d925c;
	font-size: 2.5rem;
}

h4 {
	color: #719f70;
	font-size: 1.5rem;
}

.process-steps p {
	color: var(--text-color);
}

.fa-mobile-alt, .fa-user-alt, .fa-star {
	color: #719f70;
	font-size: 2rem;
}

/*STAGES SECTION:*/

.stages-section {
	background-color: #466446;
	padding-top: 30px;
	padding-bottom: 60px;
}

.stages-wrap {
	display: flex;
	justify-content: space-between;
}
.stages {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-grow: 1;
}

.stage {
	max-width: 240px;
	background-color: #fff;
	padding: 20px 15px 20px 15px;
	margin-bottom: 50px;
	text-align: center;
}

.stage h5 {
	color: #acd8ab;
	font-size: 3rem;
	margin: auto;
}

.stage p {
	line-height: 1.5;
	color: var(--text-color);
}

.stage a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.stages-img img {
	max-width: 800px;
	z-index: -1;
	margin-top: 200px;
	margin-left: 50px;
}

/*MEDIA QUERIES:*/

@media (max-width: 1280px) {
	.green-block {
		display: none;
	}
	.steps {
		display: block;
	}
}

@media (max-width: 1200px) {
	.bcg-img img {
		max-width: 750px;
	}
}

@media (max-width: 1370px) {
	.content-text{
		font-size: 1.3rem;
	}
	.green-bubble {
		display: none;
	}
}

@media (max-width: 1120px) {
	.main-content {
		display: block;
	}
}

@media(max-width: 990px) {
	.top-text {
		position: static;
		max-width: unset;
		-webkit-box-shadow: unset; 
		box-shadow: unset;
	}
	.heading-layer {
		height: 100px;
		/*top: calc(50% - 200px);*/
	}

	.bcg-img {
		display: flex;
		justify-content: center;
	}
	.bcg-img img {
		width: 80%;
		margin-bottom: 20px;
	}

	.main-content-col:last-of-type {
		margin-top: 10px;
		border-top: 1px solid #d3d3d3;
	}
}

@media (max-width: 800px) {
	.about .bcg-img {
		margin-left: 0px;
		max-width: unset;
	}
	.white-bubble {
		display: none;
	}
	.about img {
		margin: 0 auto;
		max-width: 200px;
	}

}